*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
div{
   display: flex;
   justify-content: center;
}
.flex_header{
    display: flex;
    justify-content: center !important;
    width: 100vh;
}
.first_forms{

}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.postick_container{
    /* justify-content: center; */
    display: flex;
    
}
.postick{
    width: 300px;
    display: flex;
    justify-content: space-around;

}
.stena{
    border: 2px solid rgb(6, 6, 128);
    height: 100vw;
    width: 50vw;
    align-self: center; 
    background-color: #ffffdd75;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 7px;
}
.post{
    /* height: 140px; */
    display: flex;
    flex-direction: row;
    border: 0px dotted grey;
    border-radius: 15px;
    width: 40vw;
   justify-content: flex-start;
   align-items: flex-start  ;
   padding: 10px;
   background-color: #fff;
   margin:1em 10px;
}
input{
    font-size: 20px;
    padding: 5px
}
.wrapper p {
    display: block;
    width: 300px;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    justify-content: space-between;

}
.wrapper h3{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.2px;
    align-self: flex-start;
}

.ava{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 3px 3px 20px grey;


}