
textarea, input {
    padding:10px;
      font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
  }


  @font-face{
    font-family:"Vogue";
    src: url(../fonts/Vogue.otf)
}
  @font-face{
    font-family:"VogueHigh";
    src: url(../fonts/VogueHigh.otf)
}
  @font-face{
    font-family:"Geometrica";
    src: url(../fonts/GeometricaSans-Regular.ttf)
}