.wrapper_intro{
    background: rgba(255, 255, 255, 0.774);
    color: rgb(0, 0, 0);
    font-size: 19px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    height: 77vh;
}
.wrapper_intro__text{
    width: 90vw;
    font-family: 'PT Serif', serif;

}
.wrapper_intro img{
    width: 70%;
    
}
.wrapper_about_me{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgb(247, 247, 247);
    padding-bottom: 50px;
    padding-left: 50px;
}
.wrapper_about_me__ava{
    padding-top: 9%;
}
.wrapper_about_me__ava img{
    width: 80%;
    height: auto;
}
.wrapper_about_me__text{
    padding-top: 3%;
    width: 40vw;
    font-size: 19px;
    font-family: 'PT Serif', serif; 
    letter-spacing: 0.3px;
    line-height: 30px;
}
.wrapper_reasons_to_me__h2{
    padding-top: 35px;
    color:#2b30a3;
    text-align: center;
    /* letter-spacing: 1.2px; */
    font-family: 'Playfair Display', serif;
    padding-bottom: 60px;
    font-size: 30px;
}

.wrapper_reasons_to_me_wrap{
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
}
.wrapper_reasons_to_me__card{
    display: flex;
    flex-flow: column wrap;
    text-align: center;

}
.wrapper_reasons_to_me__card img{
    width: 65%;
}
.wrapper_reasons_to_me__wrap{
    display: flex;
}
.wrapper_reasons_to_me_text{
    padding-top: 40px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'PT Serif', serif; 
    font-size: 19px;
    line-height: 1.5;

}
.wrapper_reasons_to_me_text p{
    width: 25vw;

}

/* страница про психотерапию */
.psy_in_our_life__h3{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: 100;
}
.psy_in_our_life__h3:first-child{
    margin-top:20px;
    margin-bottom:30px;
}
.psy_first_wrapper, .psy_second_wrapper, .psy_third_wrapper{
    padding-left:13%;
    padding-right:13%;
}
.psy_second_wrapper{
    margin-bottom: 5em;
}
.psy_in_our_life__p{
    font-size: 19px;
    font-family: 'PT Serif', serif; 
    line-height: 28px;
    letter-spacing: 0.6px;
    -webkit-font-smoothing:subpixel;
    margin-bottom: 0px;
    margin-top: 7px;
}
.psy_in_our_life__p:first-child{
    text-indent: 30px;
}
.psy_third_wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}


/* конец про психотерапию */

/* начало части метода */
.method_wrapper_first, .method_wrapper_second, .method_wrapper_third, .method_wrapper_fourth{
    padding-left:13%;
    padding-right:13%;
}
.method_wrapper_second{
    display: flex;
    justify-content: center;
    align-items: center;
}
.method_wrapper_second__quote{
    padding-top: 2em;
    padding-bottom: 2em;
    width: 60%;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: 
}
.method_wrapper_second__quote p {
    margin-top:9px;
    margin-bottom: 9px;
    color: #2b30a3;
    letter-spacing: 0.5px;
}
.method_wrapper_fourth{
    padding-bottom: 4em;
}
.method_three_methods{
    display: flex;
}
.method_three_methods__p{
    font-size: 19px;
    font-family: 'PT Serif', serif; 
    line-height: 28px;
    letter-spacing: 0.6px;
    -webkit-font-smoothing:subpixel;
    margin-bottom: 0px;
    margin-top: 7px;

}
.method_three_methods__h5{
    font-family: 'Playfair Display', serif;
    color: #2b30a3;
    font-size: 25px;
    font-weight:200;
    margin-bottom: 15px;
}
.method_three_methods_wrapper{
    text-align: left;
}
.method_wrapper_fourth__h5{
    font-size: 23px;
    font-family: 'Playfair Display', serif;
    color: #2b30a3;
    font-weight:200;
}




/* здесь начинаются контакты */
.first_contact{
    padding: 20px 7% 82px 7%;
}
.second_part_one{
    text-align:center;
    background-color: #F7F7F7;
    padding-top: 35px;
}
.second_contact{
    display: flex;
    padding-left:7%;
    padding-right:7%;
    background-color: #F7F7F7;
    padding-bottom: 55px;
    align-items: flex-end;
}
.second_contact__img img{
    width: 100%;
    height: auto;
}
.second_part_second{
    width: 60%;
    padding-left: 3%;
    padding-right: 3%;
    
}
 .psy_in_our_life__h5{
    font-family: 'Playfair Display', serif;
    color: #2b30a3;
    font-size: 25px;
    font-weight:200;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 15px;
 }
 .kont_adress__map{
     display: flex;
 }
 .kont_adress{
     /* padding-left:7%;
     padding-right: 7%; */
     padding: 2% 7% 7%;
 }
 .kont_adress__map_wrap{
    height:70%;
    padding-right: 3%;
 }
 .conts_wrap{
     display: flex;
     margin-top:10px;
     font-size: 19px;
     font-family: 'PT Serif', serif; 
     line-height: 28px;
     letter-spacing: 0.6px;
 }
 .conts_wrap span{
     display: inline;
     font-weight: bold;
 }
 .conts__p{
   margin:0 0 0 10px;
   
 }
 .kont_adress__h5{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight:200;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    text-align: center;
 }