.wrapper_intro{
    background: rgba(255, 255, 255, 0.774);
    color: rgb(0, 0, 0);
    font-size: 19px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
   
    height: 77vh;
}
.wrapper_intro__text{
    width: 90vw;
    font-family: 'PT Serif', serif;
    margin-bottom: 3em;

}
.wrapper_intro img{
    width: 70%;
    padding-top: 2em;
    
}
.wrapper_about_me{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgb(247, 247, 247);
    padding-bottom: 50px;
    padding-left: 50px;
}
.wrapper_about_me__ava{
    padding-top: 9%;
}
.wrapper_about_me__ava img{
    width: 80%;
    height: auto;
}
.wrapper_about_me__text{
    padding-top: 3%;
    width: 40vw;
    font-size: 19px;
    font-family: 'PT Serif', serif; 
    letter-spacing: 0.3px;
    line-height: 30px;
}
.wrapper_reasons_to_me__h2{
    padding-top: 35px;
    color:#2b30a3;
    text-align: center;
    /* letter-spacing: 1.2px; */
    font-family: 'Playfair Display', serif;
    padding-bottom: 60px;
    font-size: 30px;
}

.wrapper_reasons_to_me_wrap{
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
}
.wrapper_reasons_to_me__card{
    display: flex;
    flex-flow: column wrap;
    text-align: center;

}
.wrapper_reasons_to_me__card img{
    width: 65%;
}
.wrapper_reasons_to_me__wrap{
    display: flex;
}
.wrapper_reasons_to_me_text{
    padding-top: 40px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'PT Serif', serif; 
    font-size: 19px;
    line-height: 1.5;

}
.wrapper_reasons_to_me_text p{
    width: 25vw;

}

/* страница о себе */
.wrapper_about_me_first{
    display: flex;
    flex-direction: column;
    padding-left: 12%;
    padding-right: 7%;
}
.wrapper_about_me__h2{
    /* padding-top: 35px; */
    text-align: center;
    letter-spacing: 1.2px;
    font-family: 'Playfair Display', serif;
    /* padding-bottom: 60px; */
    font-size: 30px;
}
.academic_information{
    display: flex;
    padding-left: 12%;
    padding-right: 7%;
    padding-bottom: 45px;
    padding-top: 30px;
    align-items: flex-start;
}
.academic_infromation_second_column{
    margin-top: 2em;
}
.academic_information_first_column{
    display: flex;
    flex-direction:column;
    margin-right: 5em;
    text-align: center;
    width: 110%;
}
.academic__h6{
    letter-spacing: 1.2px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color:#2b30a3;
    margin-top:7px;
    margin-bottom: 7px;
    font-weight: 700;
}

.h6_first{
    margin-top: 1em;
   margin-bottom: 1em;
}

hr{
    width: 80%;
    text-align: left;
    color:#2b30a3;
    height: 2px;
}
.academic__img img{
    width: 90%;
    height: auto;
}
.academic__img {
    padding-bottom: 20px;
}
.academic__img:first-child{
    padding-top: 20px;
}
.academic_span{
    font-weight: bold;
}
.academic__p{
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    font-family: 'PT Serif', serif; 
    line-height: 42px;
    letter-spacing: 0.6px;
    -webkit-font-smoothing:subpixel;
}







/* страница про психотерапию */
.psy_in_our_life__h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: 100;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    letter-spacing: 1.2px;
    -webkit-font-smoothing: 1px;
    font-weight: normal;
}
.psy_in_our_life__h3:first-child{
    margin-top:20px;
    margin-bottom:30px;
}
.psy_first_wrapper, .psy_second_wrapper, .psy_third_wrapper{
    padding-left: 12%;
    padding-right: 7%;
}
.psy_second_wrapper{
    margin-bottom: 5em;
}
.psy_in_our_life__p{
    font-size: 19px;
    font-family: 'PT Serif', serif; 
    line-height: 28px;
    letter-spacing: 0.6px;
    -webkit-font-smoothing:subpixel;
    margin-bottom: 2px;
    margin-top: 9px;
}

.psy_third_wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}


/* конец про психотерапию */

/* начало части метода */
.method_wrapper_first, .method_wrapper_second, .method_wrapper_third, .method_wrapper_fourth{
    padding-left: 12%;
    padding-right: 7%;
}
.method_wrapper_second{
    display: flex;
    justify-content: center;
    align-items: center;
}
.method_wrapper_second__quote{
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    width: 60%;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 25px;

}
.method_wrapper_second__quote p {
    margin-top:9px;
    margin-bottom: 9px;
    color: #2b30a3;
    letter-spacing: 0.5px;
}
.method_wrapper_fourth{
    padding-bottom: 4em;
}
.method_three_methods{
    display: flex;
}
.method_three_methods__p{
    font-size: 19px;
    font-family: 'PT Serif', serif; 
    line-height: 28px;
    letter-spacing: 0.6px;
    -webkit-font-smoothing:subpixel;
    margin-bottom: 0px;
    margin-top: 7px;

}
.method_three_methods__h5{
    font-family: 'Playfair Display', serif;
    color: #2b30a3;
    font-size: 25px;
    font-weight:200;
    margin-bottom: 15px;
}
.method_three_methods_wrapper{
    text-align: left;
}
.method_wrapper_fourth__h5{
    font-size: 23px;
    font-family: 'Playfair Display', serif;
    color: #2b30a3;
    font-weight:200;
}

/* здесь начинаются полезные материалы */
.depression_wrapper{
    margin-top: 35px;
    margin-bottom: 5em;
}
.anxious_wrapper{
    background-color: #F7F7F7;
    padding-top: 25px;
    padding-bottom: 25px;
}
.anxious_wrapper, .depression_wrapper, .wrapper_panic{
    padding-left:7%;
    padding-right:7%;
    /* justify-content: center; */
    /* display: flex; */
}
.wrapper_symptoms_depression{
    margin-bottom: 50px;
}
.wrapper_panic {
    padding-bottom: 55px;
}
.anxious_wrapper img, .depression_wrapper img, .wrapper_panic img{
    width:80%;
    height: auto;
}
.wrapper_symptoms_depression__list{
    margin-right: 4em;
}

.wrapper_symptoms_anxious, .wrapper_sympotms_panic, .wrapper_symptoms_depression{
    display: flex;
    align-items:flex-end;
    /* justify-content: centesr; */
}
.wrapper_symptoms_anxious p, .wrapper_sympotms_panic p, .wrapper_symptoms_depression p{
    /* padding-top: 3%; */
    /* width: 40vw; */
    font-size: 19px;
    font-family: 'PT Serif', serif; 
    letter-spacing: 0.3px;
    line-height: 20px;
}
.first_head{
    margin-top: 50px;
    margin-bottom: 50px;
}
.second_head{
    text-align: center;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}










/* здесь начинаются контакты */
.first_contact{
    padding: 20px 7% 82px 7%;
    padding-left:12%;
    padding-right:7%;
}
.second_part_one{
    text-align:center;
    background-color: #F7F7F7;
    padding-top: 35px;
}
.second_contact{
    display: flex;
    padding-left: 7%;
    padding-right: 7%;
    background-color: #F7F7F7;
    padding-bottom: 55px;
    align-items: flex-end;
    justify-content: space-between;
}
.second_contact__img img{
    width: 90%;
    height: auto;
}
.second_part_second{
    width: 70%;
    padding-left: 3%;
    padding-right: 3%;
    
}
 .psy_in_our_life__h5{
    font-family: 'Playfair Display', serif;
    color: #2b30a3;
    font-size: 25px;
    font-weight:200;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 15px;
 }
 .kont_adress__map{
     display: flex;
 }
 .kont_adress{
     /* padding-left:7%;
     padding-right: 7%; */
     padding: 2% 12% 7%;
 }
 .kont_adress__map_wrap{
    height:70%;
    padding-right: 3%;
 }
 .conts_wrap{
     display: flex;
     margin-top:10px;
     font-size: 19px;
     font-family: 'PT Serif', serif; 
     line-height: 28px;
     letter-spacing: 0.6px;
 }
 .conts_wrap span{
     display: inline;
     font-weight: bold;
 }
 .conts__p{
   margin:0 0 0 10px;
   
 }
 .kont_adress__map_wrap iframe{
    margin-top: 2em;
 }
 .kont_adress__h5{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight:200;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    text-align: center;
 }