.wrapper_intro{
    background: rgba(255, 255, 255, 0.774);
    color: rgb(0, 0, 0);
    font-size: 19px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    height: 77vh;
}
.wrapper_intro__text{
    width: 90vw;
    font-family: 'PT Serif', serif;

}
.wrapper_intro img{
    width: 70%;
    height: 70%;
    
}
.wrapper_about_me{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgb(247, 247, 247);
    padding-bottom: 50px;
    padding-left: 50px;
}
.wrapper_about_me__ava{
    padding-top: 9%;
}
.wrapper_about_me__ava img{
    width: 80%;
    height: auto;
}
.wrapper_about_me__text{
    padding-top: 3%;
    width: 40vw;
    font-size: 19px;
    font-family: 'PT Serif', serif; 
    letter-spacing: 0.3px;
    line-height: 30px;
}
.wrapper_reasons_to_me__h2{
    padding-top: 35px;
    color:#2b30a3;
    text-align: center;
    /* letter-spacing: 1.2px; */
    font-family: 'Playfair Display', serif;
    padding-bottom: 60px;
    font-size: 30px;
}

.wrapper_reasons_to_me_wrap{
    display: flex;
    justify-content: space-around;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
}
.wrapper_reasons_to_me__card{
    display: flex;
    flex-flow: column wrap;
    text-align: center;

}
.wrapper_reasons_to_me__card img{
    width: 65%;
}
.wrapper_reasons_to_me__wrap{
    display: flex;
}
.wrapper_reasons_to_me_text{
    padding-top: 40px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'PT Serif', serif; 
    font-size: 19px;
    line-height: 1.5;

}
.wrapper_reasons_to_me_text p{
    width: 25vw;
}

/* страница про психотерапию */
.psy_in_our_life__h3{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.psy_in_our_life__h3:first-child{
    margin-top:20px;
    margin-bottom:30px;
}
.psy_first_wrapper, .psy_second_wrapper, .psy_third_wrapper{
    padding-left:14%;
    padding-right:14%;
}
.psy_second_wrapper{
    margin-bottom: 5em;
}
.psy_in_our_life__p{
    font-size: 19px;
    font-family: 'PT Serif', serif; 
    line-height: 28px;
    letter-spacing: 0.6px;
    -webkit-font-smoothing:subpixel;
}
.psy_in_our_life__p:first-child{
    text-indent: 30px;
}
.psy_third_wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}


/* конец про психотерапию */