.footer{
    background: #2b30a3;
    color: white;
}
.wrap_footer_head_h3, .wrap_footer_head_h5{
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.wrap_footer_head_h3{
    
    font-size: 2em;
    letter-spacing: 1.3px;
    padding-top: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.wrap_footer_head_h5{
    font-size: 1.3em;
    margin-top: 37px;
    letter-spacing: 0.9px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.2px;
}
.form_wrap{
    display: flex;
    justify-content: space-around;
}
form{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}
.form_first_group{
    width: 50vh;
    display: flex;
    flex-flow: column nowrap;
    height: 35vh;
    align-items: space-around;
    margin-left: 10%;
}
.form_first_group input{
    margin-bottom: 26px;
    border-radius: 3px;
    outline: none;
    box-shadow: 4px 3px 3px rgba(0,0,0,0.6);
    font-size: 16px;
    border:1px solid rgba(112, 112, 112, alpha);
    padding: 12px;
}
.form_first_group input::placeholder{
    color: rgba(25, 25, 25, 0.6);
}
.form_wrap_text_wrap{
    display: flex;
    align-items: flex-end;
    flex-flow: column wrap; 
}
.form_wrap_text_wrap textarea{
    padding-bottom: 15px;
    font-size: 19px;
    outline: none;   
    width: 180%;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.footer_low_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.social_icons{
    display: flex;
    align-items: flex-start;
    align-self: center;
    margin-right: 78px;
    width: 160px;
    justify-content: space-around;
}
.form_wrap, .text_right{
    font-family: 'PT serif', sans-serif;
}
.text_right{
    font-size: 14px;
    align-self:flex-end;
    margin-left: 33px;
}
