.logo_header{
    text-align: center;
}
.logo_header h2 {
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    letter-spacing: 1.5px;
    -webkit-font-smoothing: 1px;
    font-weight: normal;
    text-decoration: none;
    margin-bottom: 28px;
    padding-top: 0px;
    margin-top: 1.8em;
}
.logo_header  a{
    text-decoration: none;
}
.logo_header h5{
    font-family: "Geometrica", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 20px;

   
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 1em; */

}

.navigation a{
    text-decoration: none;
    color: #2b30a3;
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 100;
    font-family: 'Playfair Display', serif;
    
}
.navigation a:hover{
    color: rgb(48, 38, 33);
    /* text-decoration: underline; */
    transition: 0.5s all;
}
.navigation ul li{
    list-style-type: none;
}
ul{
    display: flex;
    width: 80vw;
    justify-content: space-around;
}