*{
    margin:0;
    padding: 0;
}
@font-face{
    font-family: "GOT";
    src: url("Game of Thrones.ttf");
}
.main_wrapper{
    height: 100vh;
    background-color: #0F0F13;
    background-image: url(img/background_image.png);
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: 80% center;
}

nav{
    display: flex;
    width: 30%;
    justify-content: space-around;
    padding: 30px 5px 5px 40px;
    align-items: flex-end;
    height: 60px;
}
nav a{
    text-decoration: none;
    color:white;
    font-family: Arial;
    font-size: 18px;
}
ul{
    display: flex;
    width: 220px;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    list-style-type: none;
    font-size: 20px;  
    padding: 25px 0 15px 0;  
}
ul li:before{
    content:"";
    background-image: url('/img/star.svg');
    background-size: 25px;  
    display: inline-block;
    width: 25px; 
    height: 25px;
    content:"";
}
span{
    color: white;
    padding-left: 15px;
    display: inline-block;
}
.second_wrap{
    padding: 125px 0 0 75px;
}
.second_wrap h1{
    color: white;
    font-family: GOT, serif;
    letter-spacing: 5px;
}
p{
    color:white;
    font-family: Arial,sans-serif;
    font-size: 19px;
    width: 400px;
    padding-bottom: 20px;
}
.btn{
    margin-top: 20px;
    background-color: white;
    width:320px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-family: Arial,sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor:pointer;
}
h3{
    color:white;
    font-family: Arial, serif;
    font-size: 25px;
    padding: 50px 0 20px 84px;
    position: relative;
    top:10%;
}
.third_wrapper{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: flex-end;
    width: 95%;
    position: relative;
    top:10%;
}
.third_wrapper img{
    width: 100%;
    max-width: 400px;
    height: auto;
}

